<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopping App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script src="<%= static_path(@conn, "/js/app.js/") %>"></script>

    <div class="container">
      <header class="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
          <ul class="navbar-nav">
            <li class="navbar-brand">
              <%= if logged_in?(@conn) do %>
                <%= link "Shopping App", to: list_path(@conn, :my_lists) %>
              <% else %>
                <%= link "Shopping App", to: "/" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= if logged_in?(@conn) do %>
                <%= link "Sign Out", to: session_path(@conn, :delete, current_user(@conn)), method: :delete, class: "text-right" %>
              <% else %>
               <%= link "Sign In", to: session_path(@conn, :new), class: "text-right" %>
               <%= link "Sign Up", to: registration_path(@conn, :new), class: "text-right" %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
