<h3>
  <%= @list.name %>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @list_items do %>
  <tr>
    <td><%= link item.name, to: item_path(@conn, :delete, item), method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
